= form_for @car do |f|
  = f.label :make
  = f.text_field :make
  %br
  = f.label :model
  = f.text_field :model
  %br
  = f.label :year
  = f.number_field :year
  %br
  = f.label :color
  = f.text_field :color
  %br
  = f.label :mileage
  = f.number_field :mileage
  %br
  = f.hidden_field :dealership_id, :value => params[:dealership_id], required: true
  = f.submit
